.app-root {
  min-height: 100vh;
  min-width: 100vw;
  background: #202124;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.header-text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.username {
  color: white;
  position: absolute;
  right: 8%;
}

.dash-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-right {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.profile-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #3b82f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: fixed;
  right: 5%;
}

.dash-main {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;
  padding: 0 1rem;
  gap: 1rem;
}

.dash-top, .dash-mid, .dash-bot {
  margin-top: 5vh;
}

.summary-cards {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
  width: 100%;
}

.summary-card {
  background: #6b7280;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary-label {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0.5rem;
}

.summary-value {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.summary-change-p {
  font-size: 0.8rem;
  color: limegreen;
  margin-top: 0.25rem;
}

.summary-change-n {
  font-size: 0.8rem;
  color: red;
  margin-top: 0.25rem;
}

.chart-bars {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  height: 200px;
}

.chart-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chart-bar-wrapper:hover .chart-bar {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.chart-bar {
  width: 100%;
  border-radius: 15px;
  background: #3b82f6;
  transition: height 0.2s ease-out;
}

.chart-bar-label {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: white;
}